.aboutArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: $pad * 3 0;
  gap: $pad * 2;

  & header {
    margin-bottom: $pad;
    padding: 0 $pad * 3;
  }

  & p {
    padding: 0 $pad * 3;
    margin-bottom: $pad * 2;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }

  & .imageHolder {
    display: flex;
    align-items: center;
    object-fit: cover;
    width: 100%;
    order: -1;
    align-self: center;
    margin-bottom: $pad * 5;
  }

  & .imageHolder img {
    width: 40vw;
    margin: 0 $pad * 3;
  }

  & .imageHolder::after,
  & .imageHolder::before {
    content: "";
    display: block;
    flex: 2;
    height: 50%;
    filter: drop-shadow(0.1rem 0.1rem 0 $blue)
      drop-shadow(-0.1rem -0.1rem 0 $pink);
    opacity: 0.5;
    border-top: solid $line $textColor;
    border-bottom: solid $line $textColor;
  }
}

@media only screen and (min-width: 600px) {
  .aboutArticle {
    display: grid;
    grid-template-columns: $pad * 40 $pad * 60;
    grid-template-rows: repeat(2, 25vh);
    padding: 0;
    row-gap: $pad;
    column-gap: $pad * 10;
    justify-content: center;
    align-content: center;

    & .titleAndInfo {
      position: relative;
      grid-row: 1 / -1;
      grid-column: 2 / -1;
      align-self: center;
    }

    & .titleAndInfo::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: calc(-100vw - 2.4rem);
      height: $line;
      width: 100vw;
      background-color: $textColor;
      filter: drop-shadow(0.1rem 0.1rem 0 $blue)
        drop-shadow(-0.1rem -0.1rem 0 $pink);
      opacity: 0.5;
    }

    & header {
      padding: 0;
      margin: 0 0 $pad;
      align-self: flex-end;
    }

    & p {
      padding: 0;
    }

    & .imageHolder {
      position: relative;
      grid-row: 1 / -1;
      grid-column: 1 / 2;
      margin: 0;
      height: 100%;
      width: 100%;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin: 0;
      }
    }

    & .imageHolder::after,
    & .imageHolder::before {
      display: none;
    }

    & .imageHolder::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      display: block;
      width: 100vw;
      margin-right: $pad * 5;
      transform: translateY(-50%);
    }
  }
}
