.aboutArticle {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  & .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: $pad * 3;
    margin: 0 auto;
  }

  & .accentBarAfter::after {
    top: 50%;
    right: 20%;
    bottom: auto;
    left: auto;
    z-index: -2;
    max-width: 100vw;
    width: 100vw;
    height: 100%;
    max-height: $pad * 50;
    transform: translateY(-50%);
  }

  & .titleAndInfo {
    max-width: 67 * $pad;
  }

  & header {
    margin-bottom: $pad * 2;

    & h2 {
      position: relative;
      display: inline-block;
    }

    & h2::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -10%;
      height: 30%;
      width: 100%;
      opacity: 0.3;
      background-image: url("../assets/img/crossPatern.png");
    }
  }

  & p {
    margin-bottom: $pad * 2;
  }

  & header p {
    padding: 0;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }

  & .imageHolder {
    z-index: -1;
    order: -1;
    width: 80%;
    max-width: $pad * 45;
    height: $pad * 40;
    margin: 0 0 -10% -40%;
  }

  & .imageHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .aboutDeco1,
  & .aboutDeco2 {
    display: none;
  }
}

@media only screen and (min-width: 1070px) {
  .aboutArticle {
    & .wrapper {
      flex-direction: row;
      align-items: flex-start;
    }

    & .titleAndInfo {
      position: relative;
      align-self: center;
      flex: 3;
      max-width: auto;
    }

    & .panel.titleAndInfo {
      padding: $pad * 15 $pad * 8 $pad * 12;
    }

    & .panel.imageHolder {
      padding: $pad * 8 $pad * 5 $pad * 5;
    }

    & header {
      padding: 0;
      margin: 0 0 $pad * 3;
      align-self: flex-end;

      & h2 {
        font-size: $pad * 5;
      }

      & p {
        font-size: $pad * 3;
      }
    }

    & p {
      padding: 0;
    }

    & .imageHolder {
      top: $pad * 3;
      height: $pad * 63;
      margin: 0;
      margin-right: -$pad * 3;
    }

    & .aboutDeco1 {
      flex: 2;
      z-index: -1;
      margin-left: -$pad * 5;
      display: block;
      max-width: $pad * 45;
      height: $pad * 42;
      align-self: center;
      transform: translateY($pad * 8);
    }

    & .aboutDeco2 {
      display: block;
      bottom: -50%;
      right: $line;
      width: 100%;
      height: $pad * 22;
    }

    & .accentBarAfter::after {
      top: 50%;
      right: 28%;
      bottom: auto;
      left: auto;
    }
  }
}
