.contactArticle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: $pad * 3;
  min-height: 100%;

  & h2 {
    position: relative;
    display: inline-block;
    margin-top: $pad * 3;
  }

  & h2::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15%;
    height: 60%;
    width: 100%;
    opacity: 0.3;
    background-image: url("../assets/img/crossPatern.png");
  }

  & .letter {
    position: relative;
    left: -24%;
    order: -1;
    width: $pad * 21;
    height: $pad * 17;
    margin-bottom: -$pad * 6;
    margin-left: -$pad * 2;

    & .letterImg {
      width: 100%;
      height: 100%;
      background-image: url("../assets/img/inbox.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  & p {
    margin-bottom: $pad * 3;
  }
}

.contactMain {
  margin-bottom: $pad * 4;
  max-width: $pad * 60;
}

.socialMediaSection {
  max-width: $pad * 60;
  width: 100%;

  & header {
    margin-bottom: $pad * 3;
  }
}

.socialLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;

  & li {
    margin-left: 0;
    margin-bottom: $pad * 3;
  }

  & li:last-of-type {
    margin-bottom: 0;
  }

  & li a {
    display: flex;
    align-items: center;
    width: auto;
    height: $pad * 6 + $line;
    font-size: $pad * 2;
    color: $textColor;
    text-decoration: none;
    background: none;
    border: solid $line $textColor;
  }

  & li a::before {
    content: "";
    display: block;
    height: 100%;
    width: $pad * 6;
    background-color: $textColor;
  }

  & li a span {
    display: block;
    margin-left: $pad * 2;
  }
}

@media only screen and (min-width: 1070px) {
  .contactArticle {
    display: grid;
    grid-template-columns: 1fr min-content min-content 1fr;
    grid-template-rows: 1fr min-content min-content 1fr;
    gap: $pad * 4;

    & .letter {
      left: auto;
      order: 0;
      margin: 0;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      width: 113%;
      height: $pad * 30;
      padding: $pad * 9 $pad * 3 $pad * 6;
    }

    & .contactMain {
      margin: 0;
      grid-column: 3 / 4;
      grid-row: 2 / -2;
      min-width: $pad * 81;
      padding: $pad * 9 $pad * 3 $pad * 6;
      align-self: center;

      & p {
        font-size: $pad * 3;
      }

      & .defaultButton {
        display: inline-block;
      }
    }

    & .socialMediaSection {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      min-width: $pad * 44;
      padding: $pad * 6 $pad * 3 $pad * 3;
    }
  }
}
