@font-face {
  font-family: "pix Chicago";
  src: url("../assets/fonts/pixChicago.woff2") format("woff2"),
    url("../assets/fonts/pixChicago.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
