.homeArticle {
  height: 100%;

  & .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: $pad * 2 0;
  }

  & .contentAndDeco {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 100%;
      height: $line;
      width: 100vw;
      background-color: $textColor;
      filter: drop-shadow(0.1rem 0.1rem 0 $blue)
        drop-shadow(-0.1rem -0.1rem 0 $pink);
      opacity: 0.5;
      transform: translateY(-50%) scaleX(0);
      animation: homeLineAnim 0.5s 0.3s forwards;
    }

    &::after {
      right: auto;
      left: 100%;
    }

    & .decoNumbers {
      display: none;
      padding: 0 $pad * 2;

      & div {
        margin: $pad * 6 $pad * 5;
      }
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & header {
    text-align: center;

    & h2 {
      position: relative;
      display: inline-block;
    }

    & h2::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -15%;
      height: 60%;
      width: 100%;
      opacity: 0.3;
      background-image: url("../assets/img/crossPatern.png");
    }
  }

  & h2 span {
    display: block;
  }

  & img {
    order: -1;
    width: 40vw;
    height: 40vw;
    max-width: $pad * 22;
    max-height: $pad * 22;
    margin-bottom: $pad * 3;
  }

  & p {
    margin: 0 $pad * 3;
    text-align: center;
  }

  & .shortInfo {
    margin-top: $pad * 2;
    max-width: $pad * 65;
  }

  & .scrollNextPage {
    margin-top: $pad * 4;

    & a {
      width: $pad * 5;
      height: $pad * 5;
      overflow: hidden;
      color: transparent;
    }
  }
}

@media only screen and (min-width: 1070px) {
  .homeArticle {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    & .wrapper {
      height: auto;
    }

    & .intro {
      margin-left: $pad * 3;
      max-width: $pad * 65;
    }

    & p {
      margin: 0;
      text-align: left;
    }

    & .shortInfo {
      margin-top: $pad * 2;
    }

    & .contentAndDeco {
      & .decoNumbers {
        display: block;
      }
    }
  }
}
