@import "fonts.scss";
@import "vars.scss";
@import "work.scss";
@import "about.scss";
@import "contact.scss";

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: $textColor;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "pix Chicago", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  letter-spacing: 0.2rem;
}

h2,
h3 {
  font-size: $pad * 3;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: $pad * 2;
  line-height: 2.4rem;
}

body {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  background-color: $bgColor;
  margin: 0;
}

.basePage {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

main {
  order: -1;
  flex: 2;
  overflow: auto;
}

.pixFont {
  font-family: "pix Chicago", Arial, Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

.blurEffect {
  box-shadow: 0.1rem 0.1rem 0 0 $blue, -0.1rem -0.1rem 0 0 $pink;
  opacity: 0.5;
  background-color: $textColor;
}

.blurEffectText {
  text-shadow: 0.1rem 0.1rem $blue, -0.1rem -0.1rem $pink;
  opacity: 0.5;
  color: $textColor;
}
.diamondButton {
  display: block;
  transform: rotate(45deg);
  background-color: $textColor;
}

.defaultButton {
  display: block;
  background-color: $textColor;
  font-family: "pix Chicago", Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: $bgColor;
  padding: $pad;
  text-align: center;
}

.forground {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  & div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  & .noiseAnimated {
    z-index: 1;
    background-image: url("../assets/img/noiseTexture.png");
    opacity: 0.06;
    animation: noiseAnim 1s steps(10) forwards infinite;
  }

  & .noise {
    z-index: 1;
    background-image: url("../assets/img/noiseTexture.png");
    opacity: 0.15;
  }

  & .brightness {
    z-index: 2;
    background-color: #000;
    opacity: 0;
  }

  & .scanLines {
    z-index: 3;
    background-image: url("../assets/img/scanLineTexture.png");
    opacity: 0.4;
    animation: scanLineAnim 40s linear infinite;
  }
}

@keyframes noiseAnim {
  0% {
    background-position: 0;
  }

  50% {
    background-position: 10rem 10rem;
  }

  70% {
    background-position: -10rem 7rem;
  }

  100% {
    background-position: 0;
  }
}

@keyframes scanLineAnim {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100px;
  }
}

/* HIDE */
.hide {
  display: none;
}
