nav {
  border-top: $line solid $textColor;

  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  & li {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 -$pad * 2.5;
  }

  & li:after,
  & li:before {
    content: "";
    position: relative;
    right: $pad * 2.5;
    display: block;
    box-shadow: 0.1rem 0.1rem 0 0 $blue, -0.1rem -0.1rem 0 0 $pink;
    background-color: $textColor;
    width: $pad * 2;
    height: $line;
    transform-origin: center right;
    transform: scaleX(0);
    transition: all 150ms;
  }

  & li:before {
    transform-origin: center left;
    left: $pad * 2.5;
  }

  & li:hover:after,
  & li:hover:before {
    transform: scaleX(1);
  }

  & li a {
    text-decoration: none;
    color: $textColor;
    font-size: $pad * 2;
    display: block;
    margin: 0 $pad;
    padding: $pad * 4 0;
  }

  & li a::after,
  & li a::before {
    content: "_";
    opacity: 0;
  }
}

.activeElement {
  &::after {
    opacity: 1;
    animation: fadeElem 1s infinite;
  }

  &:hover::after {
    animation: none;
    opacity: 0;
  }
}

@keyframes fadeElem {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
