$blue: #60cae0;
$pink: #ff44b4;
$accentColor: #424740;
$accentTextColor: #dbe1e0;
$textColor: #424740;
$bgColor: #adc6c3;

//
//fec202
//DB504A
//2D93AD
//e28413
//BAB700

//fff
//081113

//adc6c3
//424740

//585858
//d9d9d9

$pad: 0.8rem;
$line: 0.2rem;
