.workSection {
  width: 100%;
  height: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    justify-content: center;

    & .projectCounter:last-of-type {
      order: -1;
    }
  }
}

.projectCounter {
  display: flex;
  justify-content: center;
  font-size: $pad * 2;
  padding: $pad $pad * 2;
}

.projectSlider {
  display: flex;
  flex: 2;
}

.projectPage {
  display: block;
  text-decoration: none;
  color: $textColor;
  margin-left: $pad * 3;
}

.project {
  position: relative;
  height: 100%;
  width: calc(100vw - 4.8rem);
}

.projectTitle {
  position: absolute;
  z-index: 2;
  left: -$pad * 2;
  bottom: $pad * 5;
  background-color: $accentTextColor;
  padding: $pad * 2;
  width: 100%;

  & .defaultButtonHolder {
    position: absolute;
    left: 1.4rem;
  }

  & .defaultButton {
    padding: $pad/2 $pad;
    display: inline-block;
  }

  & header p {
    margin-bottom: $pad;
  }

  & header h3 {
    position: relative;
  }

  & header h3::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15%;
    height: 60%;
    width: 100%;
    opacity: 0.3;
    background-image: url("../assets/img/crossPatern.png");
  }
}

.projectImage {
  height: 100%;
  width: 65vw;

  .image {
    position: relative;
    height: 100%;
    width: 100%;
  }

  & img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.closedProject {
  & .projectPage {
    margin-left: 0;
  }

  & .projectTitle {
    //display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .workSection {
    .wrapper {
      flex-direction: row;
      padding: 0 $pad * 20;
      //max-width: $pad * 128;
    }

    .projectSlider {
      position: relative;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
    }

    .projectPage {
      position: relative;

      height: 50%;
    }

    .project {
      width: 100%;
    }

    .projectTitle {
      display: inline-block;
      width: auto;
      min-width: $pad * 61;

      & .defaultButton {
        padding: $pad * 2;
        bottom: $pad * 3;
      }

      & header h3 {
        font-size: $pad * 5;
        width: auto;
      }

      & header p {
        font-size: $pad * 3;
        width: auto;
        margin-bottom: $pad * 5;
      }
    }

    .projectImage {
      width: 100%;
    }
  }
  .workSection {
    & .closedProject {
      margin-top: 10%;
      height: 10%;

      & .projectTitle {
        display: none;
      }
    }
  }
}
